<div class="container pt-3">
  <div class="mt-2 p-1 bg-primary text-white rounded text-center">
      <h1>ToDo App</h1>
    </div>
    <div class="row">
      <div class="col-5 pt-2">
        <input type="text" [(ngModel)]="taskModel.name" class="form-control" placeholder="Task Name">
      </div>
  </div>
  <div class="row">
      <div class="col-12 pt-2">
        <textarea class="form-control" [(ngModel)]="taskModel.description" rows="3" placeholder="Task Description"></textarea>
      </div>
  </div>
  <div class="row pt-2">
      <div class="col-3">
        <label>Created Date:</label>
        <input id="create-date" type="date" [(ngModel)]="taskModel.createdDate" class="form-control" placeholder="Created Date">
      </div>
      <div class="col-3">
        <label>Due Date:</label>
        <input id="due-date" type="date" [(ngModel)]="taskModel.dueDate" class="form-control" placeholder="Due Date">
      </div>
      <div class="col-6 my-2">
        <button
        class="btn btn-sm"
        [ngClass]="{
          'btn-primary': taskModel.tags.includes(tag),
          'btn-secondary': !taskModel.tags.includes(tag)
        }"
        (click)="toggleTag(tag)"
        *ngFor="let tag of availableTags">
        {{tag}}
      </button>
      </div>
  </div>
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn-success my-2" *ngIf="!editMode" (click)="addTask()">Add Task</button>
      <button class="btn btn-success my-2" *ngIf="editMode" (click)="saveTask()">Edit Task</button>
    </div>
  </div>

  <app-todo-list (emitValues)="receiveValues($event)">
  </app-todo-list>
</div>
